<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
  	<servlet-name>RegistrationController</servlet-name>
  	<display-name>RegistrationController</display-name>
  	<description></description>
  	<servlet-class>com.fdmgroup.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginErrorController</servlet-name>
  	<display-name>LoginErrorController</display-name>
  	<description></description>
  	<servlet-class>com.fdmgroup.controller.LoginErrorController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.fdmgroup.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>com.fdmgroup.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminUserController</servlet-name>
  	<display-name>AdminUserController</display-name>
  	<description></description>
  	<servlet-class>com.fdmgroup.controller.AdminUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserUpdateController</servlet-name>
  	<display-name>UserUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.fdmgroup.controller.UserUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminPlayerController</servlet-name>
  	<display-name>AdminPlayerController</display-name>
  	<description></description>
  	<servlet-class>com.fdmgroup.controller.AdminPlayerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminPlayerUpdateController</servlet-name>
  	<display-name>AdminPlayerUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.fdmgroup.controller.AdminPlayerUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminPlayerListController</servlet-name>
  	<display-name>AdminPlayerListController</display-name>
  	<description></description>
  	<servlet-class>com.fdmgroup.controller.AdminPlayerListController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationController</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginErrorController</servlet-name>
  	<url-pattern>/loginerror</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminUserController</servlet-name>
  	<url-pattern>/AdminUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserUpdateController</servlet-name>
  	<url-pattern>/UserUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminPlayerController</servlet-name>
  	<url-pattern>/AdminPlayer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminPlayerUpdateController</servlet-name>
  	<url-pattern>/AdminPlayerUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminPlayerListController</servlet-name>
  	<url-pattern>/AdminPlayerList</url-pattern>
  </servlet-mapping>
</web-app>
